<h1>Workouts</h1>

<div class="d-flex flex-wrap justify-content-center">
  <% @workouts.each do |wod| %>    
    <div class="card wod-card">
      <div class="card-header">
        <%= wod.Title %> <span class="badge badge-secondary"><%= wod.Date().strftime('%e-%b-%Y') %></span>
      </div>
      <div class="card-body">
        <p class="card-text"><%= wod.Description.html_safe %></p>
      </div>
      <div class="card-footer">
        <a href="<%= workout_path(wod) %>" class="btn btn-primary">Open Wod</a>
      </div>
    </div>
  <% end %>
</div>