<% @wods.each do |wod| %>
  <div class="card wod-detail-card">
    <div class="card-header">
      <%= wod.Title %>
    </div>
    <div class="card-body">
      <%= wod.Description.html_safe %>
    </div>
  </div>
<% end %>