<% @wods.each do |wod| %>
  <div class="card wod-detail-card">
    <div class="card-header">
      <%= wod.title %>
    </div>
    <div class="card-body">
      <%= wod.desc_html %>
      <%= show_notes wod %>
    </div>
  </div>
<% end %>