<div class="row">
  <div class="col-8">
    <div class="float-left">
      <h1>Wods</h1>
    </div>
  </div>
  <div class="col-4">
    <div class="float-right wod-top-buttons">
      <a href="<%= new_wod_path %>" class="btn btn-success">New Wod</a>
    </div>
  </div>
</div>