<div class="row">
  <% @wods.each do |wod| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm wod-card">
        <div class="card-header">
          <%= wod.title %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= wod.desc_html %></p>
        </div>
        <div class="card-footer">
          <a href="<%= wod_path(wod) %>" class="btn btn-primary">Open Wod</a>
        </div>
      </div>
    </div>
  <% end %>
</div>