 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.login-card{
    width: 40%;
    margin: auto;
    margin-top: 5%;
}

.wod-card{
    width: 20rem;
    margin: 10px;
}
.wod-detail-card{
    margin: 10px;
    background-color: black;
}