// Place all the styles related to the wods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wod-card{
    width: 20rem;
    margin: 10px;
}
.wod-detail-card{
    margin: 10px;
    background-color: black;
}
.wod-top-buttons{
  margin: 10px;
}